<!DOCTYPE html>
<html>
    <head>
        <title>Julio's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Julio's Blog</a></h1>
        </header>

        <article>
            <time>published: 07/03/2023 17:43</time>
            <h2><a href="">My first post</a></h2>
            <p>Hi there!</p>
        </article>

        <article>
            <time>published: 07/03/2023 17:50</time>
            <h2><a href="">My second post</a></h2>
            <p>Hi there!</p>
        <article>
    </body>
</html>